redis
anthropic
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
defusedxml
executing
fastapi
fastjsonschema
ffmpy
filelock
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
gradio
gradio_client
greenlet
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jmespath
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opensearch-py
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
pip
platformdirs
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
python-dateutil
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruff
s3transfer
safetensors
semantic-version
Send2Trash
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
tenacity
terminado
tinycss2
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing_extensions
typing-inspect
tzdata
tzlocal
uri-template
urllib3
uvicorn
validators
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
yarl
zipp

